
RewriteEngine on

RewriteRule \.(css|jpe?g|JPE?G|svg|gif|png|js|ico|woff|woff2|ttf)$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


RewriteRule ^(.*)-(.*)$ index.php?route=$1&id=$2 [L,QSA]
RewriteRule ^(.*)-(.*)-(.*)$ index.php?route=$1&id=$2&postId=$3 [L,QSA]
RewriteRule ^(.*)=(.*)$ index.php?route=$1&reset_token=$2 [L,QSA]
RewriteRule ^(.*)$ index.php?route=$1 [L,QSA]

