{% extends "back_layout.twig" %}
{% block head %}
<title>Cambia la tua password</title>
{% endblock %}
{% block content %}
<div align="center">
   <div class="ftco-blocks-cover-1">
      <div class="ftco-cover-1" style="background-image: url('images/hero_1.jpg');">
         <div class="container">
            <div class="row align-items-center justify-content-center">
               <div class="col-lg-12 text-center">
                  <div class="box-92819">
                     <h1 class="text-uppercase text-black mb-3">Cambia la tua password</h1>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div>

<div><br><br><br>
   <div class="container">
      <div class="row">
         <div class="col-md-3" style="margin-left: auto; margin-right: auto;">
         <form method="post" action="adminChangePassword">
            <div>
            <label class="sr-only" for="inlineFormInputGroup">E-mail</label>
               <input type="email" name="email"  class="form-control-lg mb4 mr-sm-4 mb-sm-0" id="inlineFormInputGroup" placeholder="E-mail" required>
            </div><br>
            <div>
            <label class="sr-only" for="inlineFormInput">Password</label>
            <input type="password" name="password" class="form-control-lg mb-4 mr-sm-4 mb-sm-0" id="inlineFormInput" placeholder="Password" required>
            </div><br>
            <div>
            <label class="sr-only" for="inlineFormInput">Nuova Password</label>
            <input type="password" name="new_pass" class="form-control-lg mb-4 mr-sm-4 mb-sm-0" id="inlineFormInput" placeholder=" Nuova password" required>
            </div><br>
            <div>
               <label class="sr-only" for="inlineFormInput">Conferma password</label>
               <input type="password" name="re_pass" class="form-control-lg mb4 mr-sm-4 mb-sm-0" id="inlineFormInput" placeholder="Conferma password" required>
            </div>

            <br>
            <br>
            <br>
            <input style="border: solid grey" type="submit" name="re_password" class="btn"  value="Invia"/>

         </form>
         </div>
      </div>
   </div>
   {% if error is defined %}

      <div style="color: red; background-color: #F6CECE; width: 300px; border-radius: 10px; margin: auto">  {{error}} </div>

   {% endif %}
   {% if success is defined %}

      <div style="color: white; background-color: green; width: 300px; border-radius: 10px; margin: auto">  {{success}} </div>

   {% endif %}


   {% endblock %}
