{% extends "front_layout.twig" %}
{% block head %}
    <title>Cambia la tua password</title>
{% endblock %}
{% block content %}
<div align="center">
    <div class="ftco-blocks-cover-1">
        <div class="ftco-cover-1" style="background-image: url('images/hero_1.jpg');">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div class="box-92819">
                            <h1 class="text-uppercase text-black mb-3">Cambia la tua password</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>

        <div><br><br><br>
            <div class="container" style="display: flex; justify-content: center">
                <div class="row" style="display: flex; justify-content: center">
                    <div class="col-md-3" >
                        <form class="form-inline" method="post" action="resetPassword">
                            <div>
                                <label class="sr-only" for="inlineFormInput">Nuova Password</label>
                                <input style="width: 200%" type="password" name="new_pass" class="form-control mb-4 mr-sm-4 mb-sm-0" id="inlineFormInput" placeholder=" Nuova password">
                            </div><br>
                            <div>
                                <label class="sr-only" for="inlineFormInput">Conferma password</label>
                                <input style="width: 200%"type="password" name="re_pass" class="form-control mb4 mr-sm-4 mb-sm-0" id="inlineFormInput" placeholder="Conferma password">
                            </div>

                            <br>
                            <br>
                            <br>
                            <input style="border: solid grey" type="submit" name="re_password" class="btn"  value="Invia"/>

                        </form>
                    </div>
                </div>
            </div>
            {% if error is defined %}

                <div style="color: red; background-color: #F6CECE; width: 300px; border-radius: 10px; margin: auto">  {{error}} </div>

            {% endif %}
            {% if success is defined %}

                <div style="color: white; background-color: green; width: 300px; border-radius: 10px; margin: auto">  {{success}} </div>

            {% endif %}


            {% endblock %}
