{% extends "front_layout.twig" %}
{% block head %}
    <title>Pagina non trovata</title>
{% endblock %}
{% block content %}
    <div >
        <div class="box-29291">
            <h1 class="text-uppercase text-black mb-3" align="center">Sembra che ci sia stato un errore : <br> {{ errorMessage }}</h1>
            <h4 align="center">Torna alla <a href="home">home page</a></h4>
        </div>
    </div>

{%  endblock %}